.footer {
  background-color: var(--mantine-color-default);
  padding: 4rem 1rem 2rem;
  /* color: #333; */
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 0.875rem;
  line-height: 1.5;
}

.subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.list {
  list-style-type: none;
  padding: 0;
}

.link {
  color: var(--mantine-color-dimmed);
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 2;
}

.link:hover {
  color: #000;
}

.bottom {
  border-top: 1px solid var(--mantine-color-default-border);
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.copyright {
  font-size: 0.875rem;
  color: #666;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .column {
    margin-bottom: 2rem;
  }
}
